
  body {
    background:linear-gradient(135deg, rgba(40, 124, 152, 0.7), #21a9af);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed; 
  }

  .meat {
  background: linear-gradient(135deg, rgba(25, 50, 84, 0.42), rgba(0, 136, 175, 0.79));
     padding-bottom: 10%;
     padding-top: 5%;
     margin-right: 5%;
     margin-left: 5%;
   }