
  body {
    background:linear-gradient(#00068c, rgba(0, 61, 255, 0.73), #0ca5c7);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed; 
    height: 1500px;
  }

  .meat {
  background: linear-gradient(135deg, rgba(25, 50, 84, 0.42), rgba(0, 136, 175, 0.79));
     padding-bottom: 10%;
     padding-top: 5%;
     margin-right: 5%;
     margin-left: 5%;
   }
   .ftitle  {
    text-align: center;
    padding-bottom: 5%;
    font-family: Edwardian Script ITC;
    font-size: 100px;
    color: #4ee711;
    text-shadow: 2px 2px grey;
    }
   

   /*Travel guide */
   

   /*end Travel guide */